/*Universal Styles*/

html, body{
  font-size: 16px;
  font-family: "Open Sans";
  box-sizing: border-box;
  line-height: 1.4;
}


/*   header section   */

header{
  font-family: "Source Sans Pro";
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
  background-color: white;
  width: 100%;
  padding: 0.5rem;
  height: 3rem;
  background-image: url("https://raw.githubusercontent.com/AJ-2018/ColmarAcademy/master/resources/images/bg-texture.jpg");
  border: 0.125rem solid rgb(153,153,51);
}

.company-logo{
  margin-left: 1rem;
}

.company{
  font-family: "K2D";
  font-weight: bold;
  font-size: 1.4rem;
  color: rgb( 32, 169, 233);
  margin: 0 auto 0 0.5rem;
}

.company-color{
  color: rgb(96, 96, 96);
  opacity: 0.8;
}

nav span{
  margin: 0 0 0 1rem;
  padding: 0.3rem 0.8rem;
  line-height: 1;
}

nav span:hover{
  background-color: rgb( 32, 169, 233);
  color: rgb(255, 255, 255);
  border-radius: 1.25rem;
}

a{
  color: inherit;
  text-decoration: inherit;
}

.last-nav{
  margin-right: 2.5rem;
}


/*   banner section   */

.banner{
  padding: 5.2rem 1.5rem 2rem 1.5rem; /*   To offset the space of fixed header  */
  display: flex;
  align-items: center;
  background-color: rgb(245, 245, 220);
}

.banner img{
  width: 60%;
}

.banner p{
  margin: 0 0 2rem 0;
}

.banner-content{
  display: flex;
  flex-direction: column;
  margin: 0 0 0 1.5rem;
  font-size: 1.5rem;
}

.banner-title{
  font-size: 3rem;
  color: rgb(0, 153, 51);
  opacity: 0.9;
  font-weight: 600;
  line-height: 1;
}

.banner-text{
  color: rgb(96, 96, 96);
}

.button{
  background-color: rgb(51, 51, 255);
  width: 10rem;
  height: auto;
  text-align: center;
  padding: 1rem 4rem;
  margin: 2.5rem 0 0 0;
  color: white;
  opacity: 0.9;
}

.button:hover{
  background-color: rgb(102,51,0);
}


/*    main section    */

.main-section{
  margin: 2rem 1.5rem;
  display: flex;
}


/* main information section  */

.info-main{
  margin: 0 1.5rem 0 0;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.info-main img{
  padding: 0 0 2rem 0;
  width: 100%;

}

.main-content h1{
  font-size: 2rem;
  font-weight: 600;
  padding: 0 0 1.5rem 0;
  color: rgb(51, 51, 255);
  opacity: 0.8;
}

.main-content h2{
  font-size: 1.1rem;
  padding: 0 0 1.5rem 0;
}

.main-content h3{
  font-size: 0.9rem;
}


/*   other details info  */

.info-details{
  width: 40%;
  display: flex;
  flex-direction: column;
}

.info-details img{
  width: 35%;
  height: auto;
  padding: 1rem;
}

.info-details a{
  color: rgb(0,204,204);
}

.orientation,
  .campus,
    .guest-lecture{
      display: flex;
      align-items: center;
      border: 0.125rem solid rgb(211,211,211);
}

.details-content {
  width: 65%;
}

.details-content p{
  padding: 0 0 1rem 0;
}

.title{
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(153, 51, 153);
}



/*      courses section      */

.courses-section{
  margin: 6rem 0 0 0;
  padding: 4rem 6rem;
  background-image: url("https://raw.githubusercontent.com/AJ-2018/ColmarAcademy/master/resources/images/bg-vintage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.call-action{
  margin: 0 auto;
  padding: 1rem 1.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(153, 0, 51);
  width: 15rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  line-height: 1;
  opacity: 0.9;
}

.call-action:hover{
  background-color: rgb(255, 153, 0);
  opacity: 1;
}



/*     all courses   */

.courses{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course{
  margin: 3rem 2rem 0 0;
  background-color: rgb(255,255,204);
  width: 18rem;
}

.course img{
  width: 100%;
}

.course-details{
  padding: 1rem 0 1.5rem 1rem;
}

.course-title{
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(0, 153, 51);
}

.uppercase{
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.8rem 0;
}





/*    thesis section    */

.thesis-section{
  padding: 6rem 0 3rem 1.5rem;
}

.thesis-title{
  margin: 0 auto;
  text-align: center;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(45, 32, 143);
  width: 15rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  line-height: 1;
  opacity: 0.8;
}

.thesis-title:hover{
  background-color: rgb(255, 153, 0);
  color: rgb(0, 0, 0);
}

.thesis-content{
  display: flex;
  margin: 2.5rem 0 0 0;
}

.main-video{
  width: 60%;
  margin: 0 1.5rem 0 0;
}

.main-video video{
  width: 100%;
  margin: 0 0 1.5rem 0;
  border: 0.125rem solid black;
}

.video-title{
  padding: 0 0 0.5rem 0;
  font-size: 1.3rem;
}

.video-title,
  .article-title{
    color: rgb(153,0,51);
    font-weight: 600;
  }

.main-articles{
  width: 40%;
  display: flex;
  flex-direction: column;
}

.main-articles img{
    width: 35%;
    height: auto;
    padding: 1rem;
}

.main-articles a{
  color: rgb(0, 204, 204);
}

.thesis-fisma,
  .thesis-comparison{
    display: flex;
    align-items: center;
    border: 0.1rem solid rgb(0, 0, 0);
  }

.article-title{
  font-size: 1.3rem;
}

.articles-content{
  width: 65%;
  padding: 0 0 0 0.5rem;
}

.articles-content p{
  padding: 0 0 1rem 0;
}


/*    footer section    */

.footer{
  display: flex;
  align-items: center;
  height: 3rem;
  padding: 1rem;
  background-image: url("https://raw.githubusercontent.com/AJ-2018/ColmarAcademy/master/resources/images/bg-nature.jpg");
  background-position: center;
}

.copyright{
  margin-right: auto;
  padding: 0 0 0 1.5rem;
}

.rules{
  margin: 0 1.5rem 0 0;
  padding: 0.3rem 0.8rem;
}

.rules:hover{
  background-color: white;
  border-radius: 1.25rem;
}
